@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

$background: #3594E4;
$border: #154FC6;
$textColor: white;
$fillColor: #6AB3F8;

body{
    background-color: $background;
    color: $textColor;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    height: 100vh;

    h1{
        margin: 10px;
    }

    p{
        margin: 0;
    }

    .main-cup{
        display: flex;
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px auto 30px auto;
        width: 150px;
        max-width: 150px;
        height: 350px;
        background-color: $textColor;
        border: 5px solid $border;
        color: $border;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;

        .remained-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            height: 100%;
            transition: all 0.5s;
            
            h2{
                margin: 0;
            }

            p{
                font-size: 0.9rem;
            }
        }

        .percentage-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: auto;
            height: 0%;
            width: 100%;
            background-color: $fillColor;
            color: $border;
            font-size: 1.25rem;
            visibility: hidden;
            transition: all 0.5s;
        }
    }

    .glasses-container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto auto auto;
        flex-wrap: wrap;
        width: 300px;
        max-width: 300px;
        height: auto;

        .glass{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 5px;
            height: 100px;
            width: 50px;
            background-color: $textColor;
            border: 3px solid $border;
            color: $border;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            transition: all 0.25s;
        }

        .filled{
            background-color: $fillColor;
            color: $textColor;
            transition: all 0.25s;
        }

        .glass:hover{
            cursor: pointer;
        }
    }
}